My project/Library/*
*.csproj
*.meta
*.unity
*.sln
My project/ProjectSettings/*
My project/Logs/*
My project/Temp/*
My project/UserSettings/*
My project/obj/*
My project/Packages/*
My project/.vscode/*
My project/UIElementsSchema/*
My project/Assets/UnityDefaultRuntimeTheme.tss
My project/Assets/UI Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss
